.jumbotron {
  padding-top: 5rem;
  background-color: #ffff;
}

#profile {
  padding-top: 5rem;
  background-color: #ffff;
}
#about {
  padding-top: 5rem;
  background-color: #b8b8b8;
}
#education {
  padding-top: 4rem;
  background-color: #ffff;
}
#curiculum {
  padding-top: 3rem;
  background-color: #fff;
}
#contact {
  padding-top: 5rem;
  background-color: #b8b8b8;
}
